@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --tenne-tawny: #d65108;
  --tenne-tawny-dark: #b54507;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.05rem;
  line-height: 1.6;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: var(--tenne-tawny);
}
::selection {
  background-color: var(--tenne-tawny-dark);
  color: white;
}
img {
  max-width: 100%;
}
/*  */
.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 15px;
  margin: 40px auto;
  text-align: center;
}
.btn {
  padding: 10px;
  border: none;
  cursor: pointer;
}
.title {
  font-weight: 800;
  margin-bottom: 25px;
}
.text {
  opacity: 0.7;
}
.meal-wrapper cite {
  color: var(--tenne-tawny-dark);
}
.search-box {
  margin: 20px auto;
  display: flex;
  max-width: 500px;
}
.search-box .search-input {
  flex: 1 1 100%;
  padding: 10px;
  color: var(--tenne-tawny);
  outline-color: var(--tenne-tawny-dark);
  border-color: var(--tenne-tawny);
  border: 1px solid;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-size: 1.2rem;
}
.search-input::placeholder {
  color: var(--tenne-tawny);
  font-weight: 400;
}
.search-box .search-btn {
  background-color: var(--tenne-tawny);
  color: white;
  font-size: 1rem;
  transition: all 0.3s;
  border: 1px solid var(--tenne-tawny-dark);
  outline-color: var(--tenne-tawny-dark);
  flex-basis: 20%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.search-box .search-btn:hover {
  background-color: var(--tenne-tawny-dark);
}

/*  */
.meal-results {
  margin-top: 50px;
}
@media (min-width: 600px) {
  .meal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}
@media (min-width: 992px) {
  .meal {
    grid-template-columns: repeat(3, 1fr);
  }
}
.meal.not-found {
  grid-template-columns: repeat(1, 1fr);
}
.not-found h3 {
  color: var(--tenne-tawny);
  font-size: 1.8rem;
  font-weight: 700;
}
.meal-item {
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  overflow: hidden;
  border-radius: 10px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
@media (min-width: 600px) {
  .meal-item {
    margin-bottom: 0;
  }
}
.meal-item .img img {
  width: 100%;
}
.meal-item .meal-name {
  font-size: 1.8rem;
  font-weight: 800;
  margin: 20px 0;
}
.meal-item .recipe-btn {
  display: block;
  text-decoration: none;
  color: white;
  background-color: var(--tenne-tawny);
  padding: 10px 20px;
  border-radius: 50px;
  margin: auto;
  width: fit-content;
  transition: all 0.3s linear;
}
.meal-item .recipe-btn:hover {
  background-color: var(--tenne-tawny-dark);
}
/*  */
.hide {
  display: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

.meal-details {
  background-color: var(--tenne-tawny);
  color: white;
  padding: 60px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  width: 90%;
  max-height: 90%;
  max-width: 800px;
  border-radius: 10px;
}
@media (min-width: 600px) {
  .meal-details {
    width: 80%;
    padding: 50px 40px;
  }
}
.meal-details::-webkit-scrollbar {
  width: 10px;
}
.meal-details::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
}
.meal-details .btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}
.meal-details .meal-details-title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.meal-details .category {
  display: inline-block;
  color: var(--tenne-tawny);
  background-color: white;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: 600;
}
.meal-details .meal-instructions {
  margin: 50px 0;
}
.meal-details .meal-instructions h4 {
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 1.05;
  margin-bottom: 20px;
}
.meal-details .meal-img {
  width: 100px;
  height: 100px;
  margin: 20px auto;
}
.meal-details .meal-img img {
  height: 100%;
  border-radius: 50%;
}
.meal-details .video a {
  color: white;
  font-weight: 800;
}
